<div class="row">

    <div class="col-md-6 g-mb-60">
        <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
            <h3 class="h4 g-color-black g-font-weight-600">{{ content.field_display_title }}</h3>
            {{ content.body }}
        </a>
    </div>
    <div class="col-md-6 g-mb-60">
        <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
            <img class="img-fluid" src="{{ content.field_image|render|striptags|trim }}" alt="Image Description">
        </a>
    </div>

</div>
